*.txt
node_modules/
nykaa/
nykaaman/
dummy/
done/
refined/
modelData/
mapped/
*.csv
products/
results/
batches/
fine_tuned_model/
!requirements.txt
*.pkl
*.joblib
.conda/
logs/
saved_model/
brands.json